@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');

body {
    font-family: 'Carrois Gothic', sans-serif;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(204, 189, 196) 0%, rgb(189, 205, 224) 100%);
}

#head {
    text-align: center;
}

body>table {
    width: 100%;
    margin: auto;
    border: 2px solid #6e6cdb;
    border-radius: 6px;
    box-shadow: 2px 3px;
}

table {
    border-collapse: collapse;
}

form {
    margin: auto;
}

table.list {
    width: 100%;
}

td,
th {
    border: 1px solid #ddeeff;
    text-align: left;
    padding: 8px 8px;

}

tr:nth-child(even),
table.list thead>tr {
    background-color: #c4bd68;
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
    background: transparent;

}

input[type=text] {
    font-size: 14px;
    color: #000;
    font-weight: 520;

}

input[type=submit] {
    width: 30%;
    background: rgb(96, 88, 202);
    color: #fff;
    padding: 10px 10px;
    margin: 4px 0;
    border: 1px solid #000;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

form div .form-action-buttons {
    text-align: right;
}

a {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 4px;
    margin-right: 4px;
    padding: 0px 4px;
    font-size: 13px;
    background: rgb(96, 88, 202);
    color: #fff;

}

/**media query ***/

@media(max-width:768px) {

    td,
    th {
        display: flex;
        font-size: 13px;
    }

    table.list {
        width: 80%;
        margin: auto;
    }

    h1 {
        font-size: 17px !important;
    }

}